
<nav class="navbar navbar-expand-md  fixed-top" style="background: transparent">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="d-md-none col-8 ml-auto">
                <a href="{{ '/' | relative_url }}" class="p-1" >
                    <img class="img-fluid cdil-logo" src="https://cdil.lib.uidaho.edu/assets/img/logo.png" title="CDIL" alt="CDIL logo" style="max-height:100px;">
                </a>
            </div>
    
            <div class="d-flex py-2 align-items-center navbar-brand bg-dark p-4 border-primary" style="margin-top:-20px">
                
                <a title="Digital Initiatives" class="d-none d-md-block" href="{{ '/' | relative_url }}">
                    <img class="img-fluid cdil-logo " src="https://cdil.lib.uidaho.edu/assets/img/logo.png" alt="CDIL [logo]" style="max-height:100px;"></a>
            </div>
    
            <div class="collapse navbar-collapse" id="page-nav">
                <h1>bLabbLab <i class='fas fa-flask'></i></h1>

            </div>
        </div>
    </nav>