<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-md-none col-8 ml-auto">
            <a href="{{ '/' | relative_url }}" class="p-1" >
                <img class="img-fluid cdil-logo" src="https://cdil.lib.uidaho.edu/assets/img/logo.png" title="CDIL" alt="CDIL logo" style="max-height:100px;">
            </a>
        </div>

        <div class="d-flex py-2 align-items-center navbar-brand">
            <a title="University of Idaho" class="d-none d-lg-block" href="{{ '/' | relative_url }}">
                <img class="img-fluid pr-4 lib-logo-lg" src="https://www.lib.uidaho.edu/digital/idaho.png" alt="University of Idaho Library [logo]" style="max-height:50px;"></a>

            <a title="Digital Initiatives" class="d-none d-md-block" href="{{ '/' | relative_url }}">
                <img class="img-fluid cdil-logo " src="https://cdil.lib.uidaho.edu/assets/img/logo.png" alt="CDIL [logo]" style="max-height:100px;"></a>
        </div>

        <div class="collapse navbar-collapse" id="page-nav">
            
            <ul class="navbar-nav ml-auto">
                {% for nav in site.data.nav-configuration %}
                <li class="nav-item {% if page.url == nav.stub %}active{% endif %}">
                    <a class="nav-link" href="{{ nav.stub | relative_url }}">{{ nav.display-text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>