<!-- temp styles to avoid cache issues-->
<style>
    #carousel-pause { position: absolute; bottom: 10px; right: 10px; font-size: 28px; cursor: pointer; z-index: 99; }
    #index-carousel {
   
    color: white;
}
#index-carousel .carousel-item img {
    width: 100%;
    max-height: 750px;
    object-fit: scale-down;
    font-family: 'object-fit: cover;';}

.carousel-caption {
    background: rgba(0,0,0,0.7);
    min-width: 450px;
    width: auto;
    bottom: 30px;
    left: 40%;
}
    </style>

    <h2 class="ml-4 p-4 h1 border-bottom"> Projects </h2>
    <div id="index-carousel" class="carousel slide mt-4" data-ride="carousel" data-interval="25000" data-keyboard="true">
        <ol class="carousel-indicators">
            {% for slide in site.data.projects %}
            <li data-target="#index-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
    
        <div class="carousel-inner">
            
        {% for slide in site.data.projects %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="max-height: 700px;">
            <img class="img-fluid"  src="{{ slide.image}}" alt="{{ slide.title }} image" >
            <div class="carousel-caption d-none d-md-block px-3 mb-3">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-left">{{ slide.title }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 text-left">
                        <p class="mb-2 text-left slide-paragraph">{{ slide.description | truncatewords: 15 }}</p>
                    </div>
                    <div class="col-md-4 ">
                        <p>
                        <a class="btn btn-outline-primary" href="projects.html#{{ slide.projectid }}">More on the project</a>
                        {% if slide.link2 %}
                        <a class="btn btn-outline-clearwater mr-2 mt-md-2 mt-sm-0" href="{{ slide.link2 }}">{{ slide.link2-text }}</a>{% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-md-none pt-4 pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-center">{{ slide.title }}</h3>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center">
                            <a class="btn btn-outline-primary" href="{{ slide.link }}">Go to site.</a>
                            {% if slide.link2 %}
                            <a class="btn btn-outline-clearwater mr-2 mt-md-2 mt-sm-0" href="{{ slide.link2 }}">{{ slide.link2-text }}</a>{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
        </div>
    
        <a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <span id="carousel-pause" class="far fa-pause-circle text-muted" title="pause" aria-label="Pause carousel"></span>
      
    </div>
