{% for project in site.data.projects %}

<div class="col-12 centered p-3 my-4 card bg-light" id="{{ project.projectid }}">
    <div class="row p-3">
        <div class="col-md-6">
            <a href="{{project.link}}"><img class="img-fluid" src="{{ project.image }}" alt="{{project.title}} image" style="max-height:400px;">
            </a>
        </div>
        <div class="col-md-6">
            <h4>  <a href="{{project.link}}"><b>{{project.title}}</b> </a></h4>
           
            <h5>{{project.description}}<br /></h5>

            {%if project.link%}<a class="btn btn-lg btn-primary m-4" href="{{project.link}}">Visit Project Site</a>{%endif%}

        </div>
    </div>
</div>

{%endfor%}